<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Image Generation</title>
</head>
<body class="bg-[#EAEAEA]">

    <nav class="flex space-x-10 p-4 bg-black place-content-center space-x-20">
        <li class="flex list-none text-2xl text-[#EAEAEA] font-extrabold font-serif"><a href="/">Home</a></li>
        <li class="flex list-none text-2xl text-[#EAEAEA] font-extrabold font-serif"><a href="/collection/">My Collection</a></li>
        <li class="flex list-none text-2xl text-[#EAEAEA] font-extrabold font-serif"><a href="/team/">Team</a></li>
    </nav>

    <!-- Make it h-full after adding some contents into divs-->
    <div id="Main_div" class="flex h-screen">

        <div id="left_side_section" class="flex flex-col basis-1/5 border-r-4 border-[#645577] p-2">

            <form action="/" method="post" class="flex flex-col space-y-10 w-full justify-center items-center">
                {% csrf_token %}

                <select class="flex w-2/3 border-2 font-serif rounded-lg p-2 text-xl font-bold text-center justify-center bg-[#645577] text-[#EAEAEA]" name="dropdown" id="">
                    <option class="flex text-xl font-serif" value="Half T-shirt">Half T-Shirt</option>
                    <option class="flex text-xl font-serif" value="Full T-shirt">Full T-Shirt</option>
                    <option class="flex text-xl font-serif" value="Hoddies">Hoddies</option>
                </select>

    
                <input type="submit" name="btn_name" value="Generate Images" class="flex rounded-lg p-4 text-xl font-bold font-serif bg-[#645577] text-[#EAEAEA] hover:shadow-2xl">

            </form>

        </div>
    
        <div id="middle_section" class="flex flex-wrap basis-4/5 p-2 justify-center">

            {% block image_section %}

                {% if image %}

                    {% for image_name, image_bytes in image.items %}

                        <form action="/" method="post">
                            {% csrf_token %}
                            <div id="image_sec" class="flex flex-col justify-center items-center">
                                <div id="image_sec" class="flex flex-col rounded-lg items-center transition ease-in-out hover:-translate-y-2 hover:scale-110">
                                    <img name="image_name" class="flex flex-row h-80 w-80 p-2 rounded-lg p-4 border-2 m-4" src="data:image/png;base64, {{ image_bytes }}" alt="{{ image_name }}">
                                </div>
                                <input type="text" name="image_string" value="{{ image_bytes }}" hidden>
                                <button class="flex justify-center text-lg font-bold font-serif bg-[#645577] rounded-lg text-[#EAEAEA] hover:shadow-xl p-4 w-fit" type="submit" name="btn_name" value="add_to_collection" onclick="alert('This is a msg {{ image_name }}')"> Add to Collection </button>
                            </div> 
                        </form> 

                    {% endfor %}
                
                {% else %}

                    Don't You think You should use left section

                {% endif %}

            {% endblock image_section %}

        </div>

    </div>
    
</body>
</html>