<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Index Page</title>
</head>
<body>

    <nav class="flex space-x-10 p-4 border-b-2">
        <li class="flex list-none"><a href="/">Home</a></li>
        <li class="flex list-none">Second</li>
        <li class="flex list-none">Third</li>
        <li class="flex list-none">Fourth</li>
        <li class="flex list-none"><a href="/team/">Team</a></li>
    </nav>

    <!-- Make it h-full after adding some contents into divs-->
    <div id="Main_div" class="flex h-full">

        <div id="left_side_section" class="flex basis-1/5 bg-black">
            01
        </div>
    
        <div id="middle_section" class="flex flex-wrap basis-3/5 bg-slate-50 p-2 justify-center">
            {% for image_name, image_bytes in image.items %}
                <form action="" method="">
                    <div id="image_sec" class="flex flex-col">
                        <img class="flex flex-row h-64 w-64 p-2 border-2 rounded-full m-4" src="data:image/png;base64, {{ image_bytes }}" alt="{{ image_name }}">
                        <button class="flex justify-center" name="image_btn" onclick="alert('This is a msg {{ image_name }}')"> Add to Collection </button>
                    </div> 
                </form> 
            {% endfor %} 
        </div>
    
        <div id="right_side_section" class="flex basis-1/5 bg-zinc-600">
            03
        </div>

    </div>
    
</body>
</html>