<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Team Members</title>
</head>
<body class="bg-gradient-to-r from-[#cbc5ea] via-[#73628a] to-[#73628a]">

    <nav class="flex space-x-10 p-4 bg-[#415176] place-content-center">
        <li class="flex list-none text-xl text-[#EAEAEA] font-extrabold"><a href="/">Home</a></li>
        <li class="flex list-none text-xl text-[#EAEAEA] font-extrabold">My Collection</li>
        <li class="flex list-none text-xl text-[#EAEAEA] font-extrabold">Third</li>
        <li class="flex list-none text-xl text-[#EAEAEA] font-extrabold">Fourth</li>
        <li class="flex list-none text-xl text-[#EAEAEA] font-extrabold"><a href="/team/">Team</a></li>
    </nav>

    <div class="bg-[#313D5A]">
        <h1 class="bg-clip-text bg-gradient-to-r from-[#73628a] to-[#cbc5ea] text-transparent text-center text-7xl font-extrabold mb-10 p-10">Meet Our Team</h1>
    </div>

    <div id="main_div" class="flex flex-col w-full p-10">

        <div id="first_div" class="flex flex-row justify-center space-x-32">

            <!-- First Person -->
            <div id="first_person" class="flex flex-col justify-center place-content-center space-y-5">

                <div id="image_sec" class="flex flex-col items-center">
                    <img class="flex h-64 w-64 p-2 border-4 rounded-full m-4 border-[#CBC5EA]" src="/profile-pic-pie.png" alt="">
                </div> 
                <div id="name_div" class="flex justify-center text-3xl font-extrabold text-[#1C2826]">Vedant Mahajan</div>
                <div id="social_logos" class="flex justify-center space-x-3">
                    <box-icon border="circle" animation="tada-hover" color="#1C2826" size="md" type='logo' name='linkedin'></box-icon>
                </div>

            </div>

            <!-- Second Person -->
            <div id="second_person" class="flex flex-col justify-center place-content-center space-y-5">

                <div id="image_sec" class="flex flex-col items-center">
                    <img class="flex h-64 w-64 p-2 border-4 rounded-full m-4 border-[#CBC5EA]" src="/profile-pic-pie.png" alt="">
                </div> 
                <div id="name_div" class="flex justify-center text-3xl font-extrabold text-[#1C2826]">Piyush Hatewar</div>
                <div id="social_logos" class="flex justify-center space-x-3">
                    <box-icon class="" border="circle" animation="tada-hover" color="#1C2826" size="md" type='logo' name='linkedin'></box-icon>
                </div>

            </div>

            <!-- Third Person -->
            <div id="third_person" class="flex flex-col justify-center place-content-center space-y-5">

                <div id="image_sec" class="flex flex-col items-center">
                    <img class="flex h-64 w-64 p-2 border-4 rounded-full m-4 border-[#CBC5EA]" src="/profile-pic-pie.png" alt="">
                </div> 
                <div id="name_div" class="flex justify-center text-3xl font-extrabold text-[#1C2826]">Kushal Gujar</div>
                <div id="social_logos" class="flex justify-center space-x-3">
                    <box-icon border="circle" animation="tada-hover" color="#1C2826" size="md" type='logo' name='linkedin'></box-icon>
                </div>

            </div>
            
        </div>

        <div id="second_div" class="flex flex-row justify-center space-x-32 mt-10">

            <!-- Fourth Person -->
            <div id="first_person" class="flex flex-col justify-center place-content-center space-y-5">

                <div id="image_sec" class="flex flex-col items-center">
                    <img class="flex h-64 w-64 p-2 border-4 rounded-full m-4 border-[#CBC5EA]" src="/profile-pic-pie.png" alt="">
                </div> 
                <div id="name_div" class="flex justify-center text-3xl font-extrabold text-[#1C2826]">Arya Harde</div>
                <div id="social_logos" class="flex justify-center space-x-3">
                    <box-icon border="circle" animation="tada-hover" color="#1C2826" size="md" type='logo' name='linkedin'></box-icon>
                </div>

            </div>

            <!-- Fifth Person -->
            <div id="second_person" class="flex flex-col justify-center place-content-center space-y-5">

                <div id="image_sec" class="flex flex-col items-center">
                    <img class="flex h-64 w-64 p-2 border-4 rounded-full m-4 border-[#CBC5EA]" src="/profile-pic-pie.png" alt="">
                </div> 
                <div id="name_div" class="flex justify-center text-3xl font-extrabold text-[#1C2826]">Chirag Lalwani</div>
                <div id="social_logos" class="flex justify-center space-x-3">
                    <box-icon class="" border="circle" animation="tada-hover" color="#1C2826" size="md" type='logo' name='linkedin'></box-icon>
                </div>

            </div>
            
        </div>

    </div>

</body>
</html>