<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Team Members</title>
</head>
<body class="bg-[#EAEAEA]">

    <nav class="flex space-x-10 p-4 bg-black place-content-center space-x-20">
        <li class="flex list-none text-2xl text-[#EAEAEA] font-extrabold font-serif"><a href="/">Home</a></li>
        <li class="flex list-none text-2xl text-[#EAEAEA] font-extrabold font-serif"><a href="/collection/">My Collection</a></li>
        <li class="flex list-none text-2xl text-[#EAEAEA] font-extrabold font-serif"><a href="/team/">Team</a></li>
    </nav>

    <div class="bg-[#645577]">
        <h1 class="text-[#EAEAEA] text-center text-7xl font-extrabold mb-10 p-10 font-serif shadow-2xl">Meet Our Team</h1>
    </div>

    <div id="main_div" class="flex flex-col w-full p-10">

        <div id="first_div" class="flex flex-row justify-center space-x-32">

            <!-- First Person -->
            <div id="first_person" class="flex flex-col justify-center place-content-center space-y-5">

                <div id="image_sec" class="flex flex-col items-center transition ease-in-out hover:-translate-y-2 hover:scale-110">
                    <img class="flex h-64 w-64 p-2 border-4 rounded-full m-4 border-[#CBC5EA]" src="/media/vedant_profile.jpg" alt="">
                </div> 
                <div id="name_div" class="flex justify-center text-3xl font-medium text-[#1C2826] font-serif">Vedant Mahajan</div>
                <div id="social_logos" class="flex justify-center space-x-3">
                    <a href="https://www.linkedin.com/in/vedant-mahajan-a02b81206/"><box-icon border="circle" animation="tada-hover" color="#1C2826" size="md" type='logo' name='linkedin'></box-icon></a>
                </div>

            </div>

            <!-- Second Person -->
            <div id="second_person" class="flex flex-col justify-center place-content-center space-y-5 ">

                <div id="image_sec" class="flex flex-col items-center transition ease-in-out hover:-translate-y-2 hover:scale-110">
                    <img class="flex h-64 w-64 p-2 border-4 rounded-full m-4 border-[#CBC5EA]" src="/media/profile-pic-pie.png" alt="">
                </div> 
                <div id="name_div" class="flex justify-center text-3xl font-medium text-[#1C2826] font-serif">Piyush Hatewar</div>
                <div id="social_logos" class="flex justify-center space-x-3">
                    <a href="https://www.linkedin.com/in/piyush-hatewar-62098a1b4/"><box-icon class="" border="circle" animation="tada-hover" color="#1C2826" size="md" type='logo' name='linkedin'></box-icon></a>
                </div>

            </div>

            <!-- Third Person -->
            <div id="third_person" class="flex flex-col justify-center place-content-center space-y-5">

                <div id="image_sec" class="flex flex-col items-center transition ease-in-out hover:-translate-y-2 hover:scale-110">
                    <img class="flex h-64 w-64 p-2 border-4 rounded-full m-4 border-[#CBC5EA]" src="/media/KushalGujarPhoto.png" alt="">
                </div> 
                <div id="name_div" class="flex justify-center text-3xl font-medium text-[#1C2826] font-serif">Kushal Gujar</div>
                <div id="social_logos" class="flex justify-center space-x-3">
                    <a href="https://www.linkedin.com/in/kushal-gujar-6a8127216/"><box-icon border="circle" animation="tada-hover" color="#1C2826" size="md" type='logo' name='linkedin'></box-icon></a>
                </div>

            </div>
            
        </div>

        <div id="second_div" class="flex flex-row justify-center space-x-32 mt-10">

            <!-- Fourth Person -->
            <div id="first_person" class="flex flex-col justify-center place-content-center space-y-5">

                <div id="image_sec" class="flex flex-col items-center transition ease-in-out hover:-translate-y-2 hover:scale-110">
                    <img class="flex h-64 w-64 p-2 border-4 rounded-full m-4 border-[#CBC5EA]" src="/media/arya.jpg" alt="">
                </div> 
                <div id="name_div" class="flex justify-center text-3xl font-medium text-[#1C2826] font-serif">Arya Harde</div>
                <div id="social_logos" class="flex justify-center space-x-3">
                    <a href="https://www.linkedin.com/in/arya-harde-881b82206/"><box-icon border="circle" animation="tada-hover" color="#1C2826" size="md" type='logo' name='linkedin'></box-icon></a>
                </div>

            </div>

            <!-- Fifth Person -->
            <div id="second_person" class="flex flex-col justify-center place-content-center space-y-5">

                <div id="image_sec" class="flex flex-col items-center transition ease-in-out hover:-translate-y-2 hover:scale-110">
                    <img class="flex h-64 w-64 p-2 border-4 rounded-full m-4 border-[#CBC5EA]" src="/profile-pic-pie.png" alt="">
                </div> 
                <div id="name_div" class="flex justify-center text-3xl font-medium text-[#1C2826] font-serif">Chirag Lalwani</div>
                <div id="social_logos" class="flex justify-center space-x-3">
                    <a href="https://www.linkedin.com/in/chirag-lalwani-437b7b206/"><box-icon class="" border="circle" animation="tada-hover" color="#1C2826" size="md" type='logo' name='linkedin'></box-icon></a>
                </div>

            </div>
            
        </div>

    </div>

</body>
</html>