<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Team Members</title>
</head>
<body>

    <nav class="flex space-x-10 p-4 border-b-2">
        <li class="flex list-none"><a href="/">Home</a></li>
        <li class="flex list-none">Second</li>
        <li class="flex list-none">Third</li>
        <li class="flex list-none">Fourth</li>
        <li class="flex list-none"><a href="/team/">Team</a></li>
    </nav>

    <h1 class="bg-black text-white text-center text-7xl font-extrabold mb-10 p-10">Meet Our Team</h1>

    <div id="main_div" class="flex flex-col justify-center items-center space-y-20 m-10 rounded-lg  p-20">

        <!-- First div containing first two members -->
        <div id="First_div" class="flex flex-row space-x-10 w-full">

            <!--This is for the first member-->
            <div id="first_member" class="flex flex-row basis-1/2 bg-red-100 p-5 rounded-lg hover:-translate-y-4 transition duration-1000 ease-in-out shadow-xl">

                <img class="flex h-44 w-44 p-2 border-4 border-black rounded-full ml-4 mr-4 mb-4 bg-slate-50 contrast-100" src="/profile-pic-pie.png" alt="">

                <div class="flex flex-col pt-4">
                    <h1 class="text-2xl font-extrabold">Chirag Lalwani</h1>

                    <h1 class="text-xl font-bold pt-2">Team Leader</h1>
                </div>

            </div>
            
            <!--This is for the second member-->
            <div id="second_member" class="flex flex-row basis-1/2 bg-red-100 p-5 rounded-lg hover:-translate-y-4 transition duration-1000 ease-in-out shadow-xl">

                <img class="flex h-44 w-44 p-2 border-4 border-black rounded-full ml-4 mr-4 mb-4 bg-slate-50 contrast-100" src="/profile-pic-pie.png" alt="">

                <div class="flex flex-col pt-4">
                    <h1 class="text-2xl font-extrabold">Arya Harde</h1>

                    <h1 class="text-xl font-bold pt-2">Member</h1>
                </div>

            </div>

        </div>

        <!-- Second row div which is containing two next two members -->
        <div id="Second_div" class="flex flex-row space-x-10 w-full">

            <!--This is for the third member-->
            <div id="third_member" class="flex flex-row basis-1/2 bg-red-100 p-5 rounded-lg hover:-translate-y-4 transition duration-1000 ease-in-out shadow-xl">

                <img class="flex h-44 w-44 p-2 border-4 border-black rounded-full ml-4 mr-4 mb-4 bg-slate-50 contrast-100" src="/profile-pic-pie.png" alt="">

                <div class="flex flex-col pt-4">
                    <h1 class="text-2xl font-extrabold">Kushal Gujar</h1>

                    <h1 class="text-xl font-bold pt-2">Member</h1>
                </div>

            </div>

            <!--This is for the fourth member-->
            <div id="fourth_member" class="flex flex-row basis-1/2 bg-red-100 p-5 rounded-lg hover:-translate-y-4 transition duration-1000 ease-in-out shadow-xl">

                <img class="flex h-44 w-44 p-2 border-4 border-black rounded-full ml-4 mr-4 mb-4 bg-slate-50 contrast-100" src="/profile-pic-pie.png" alt="">

                <div class="flex flex-col pt-4">
                    <h1 class="text-2xl font-extrabold">Vedant Mahajan</h1>

                    <h1 class="text-xl font-bold pt-2">Member</h1>
                </div>

            </div>

        </div>

        <!--This is for the last member-->
        <div id="fifth_member" class="flex flex-row w-1/2 bg-red-100 p-5 rounded-lg hover:-translate-y-4 transition duration-1000 ease-in-out shadow-xl">

            <img class="flex h-44 w-44 p-2 border-4 border-black rounded-full ml-4 mr-4 mb-4 bg-slate-50 contrast-100" src="/profile-pic-pie.png" alt="">

            <div class="flex flex-col pt-4">
                <h1 class="text-2xl font-extrabold">Piyush Hatewar</h1>

                <h1 class="text-xl font-bold pt-2">Member</h1>
            </div>

        </div>
    
    </div>

</body>
</html>